#
# Virtual environments:
#
env/
venv/
pkgenv/
.env/
.venv/
.pkgenv/

#
# Vim && Neovim:
#
.vim/
*.swp
*.swo
Session.vim

#
# Temporary files:
#
*~
\#'
\#'\#
.#'

#
# Editor configs:
#
.idea/
.vscode/

#
# Tests:
#
test.sh
test.c
test.py
test.pl
test.rb
test.go
test.lua
